.autocomplete
{
	position: relative;

	.autocomplete-dropdown-container
	{
		border-radius: 6px;
		border: 1px solid #bdbdbd;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: calc( 100% + 13px);
		z-index: 9999;
	}

	.suggestion-item
	{
		border-top: 1px solid #bdbdbd;
		color: #2d3047;
		padding: .5*$lh;
		text-align: left;

		&:first-child
		{
			border: 0;
		}

		&:hover
		{
			background: #eee !important;
		}

	}
}