html
{
	height: 100%;
	overflow-x: hidden;
}

body
{
	color: $ebony-clay;
	font-family: $ff1;
	font-variant-ligatures: none;
	font-weight: 400;
	height: 100%;
	line-height: $lh;
	min-width: $min-width;
	overflow-x: hidden;

	@include osm
	{
		&.disabled
		{
			overflow: hidden;
		}
	}

	&.disabled--cart
	{
		overflow: hidden;
	}
}

a
{
	color: inherit;
	text-decoration: none;
}

pre
{
	background: $white;
	color: $ebony-clay;
	font-family: monospace;
}

.nowrap
{
	white-space: nowrap;
}

body.disabled .main-content,
.main-content--disabled
{
	@include osm
	{
		filter: blur(3px);
		position: relative;
		z-index: -1;
	}
}

body.disabled--cart .main-content
{
	filter: blur(3px);
	position: relative;
	z-index: -1;
}

.main-content
{
	min-height: 100vh;

	@include m
	{
		&--background
		{
			background-image: url('../images/site-background.svg');
			background-position: top right;
			background-repeat: no-repeat;
		}
	}

	@include xl
	{
		&--background
		{
			background-size: 500px;
		}
	}

}

.global-inner
{
	margin: 0 auto;
	width: calc(100% - 56px);

	@include l
	{
		width: 960px;
	}

	@include xl
	{
		width: 1280px;
	}
}
