.button
{
	background-color: $ebony-clay;
	border-radius: 6px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 1.5*$lh;
	letter-spacing: .5px;
	line-height: 1.5*$lh;
	padding: 0 1*$lh;
	transition: background-color .2s;

	&:hover
	{
		background-color: $manatee;
	}
}
