.banner-slider
{
	@include remove-highlight;

	background-image: url('../images/banner-slider-bg.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2*$lh;

	&__slide
	{
		width: 100vw;
	}

	&__slide-inner
	{
		display: grid;
		grid-row-gap: .5*$lh;
		justify-content: center;
		margin: 0 auto;
		padding: 1*$lh 0;
		text-align: center;
		width: calc(100vw - 52px);
	}

	&__slide-image-wrapper
	{
		justify-self: center;
	}

	&__slide-image
	{
		display: block;
		height: 8*$lh;
		width: auto;
	}

	&__slide-title
	{
		font-family: $ff2;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: .5*$lh;
	}

}




@include m
{
	.banner-slider
	{
		background-position: center;
		background-size: 100%;

		&__slide-inner
		{
			align-items: center;
			grid-template-columns: 2fr 3fr;
			text-align: left;
			width: calc(100vw - 104px);
		}

		&__slide-image-wrapper
		{
			justify-self: end;
			order: 2;
		}

		&__slide-image
		{
			height: 10*$lh;
		}

		&__slide-content
		{
			justify-self: start;
		}
	}
}



@include l
{
	.banner-slider
	{
		background-size: contain;
		padding: 2*$lh 0;

		&__slide-inner
		{
			width: 960px;
		}

		&__slide-image
		{
			height: 18*$lh;
			margin-right: -3*$lh;
		}

		&__slide-title
		{
			font-size: 30px;
			line-height: 1*$lh;
			margin-bottom: 1.5*$lh;
		}

	}
}

@include xl
{
	.banner-slider
	{
		&__slide-inner
		{
			width: 1280px;
		}

		&__slide-image
		{
			height: 22*$lh;
		}
	}
}

// Animations

.banner-slider
{
	.banner-slider__slide-image,
	.banner-slider__slide-title,
	.banner-slider__slide-text,
	.banner-slider__slide-button
	{
		opacity: 0;
	}

	.banner-slider__slide-image
	{
		transition-delay: .2s;
	}

	.banner-slider__slide-title
	{
		transition-delay: .4s;
	}

	.banner-slider__slide-text
	{
		transition-delay: .5s;
	}

	.banner-slider__slide-button
	{
		transition-delay: .6s;
	}
}

.banner-slider .is-selected
{
	.banner-slider__slide-image,
	.banner-slider__slide-title,
	.banner-slider__slide-text,
	.banner-slider__slide-button,
	{
		opacity: 1;
		transition-duration: 1.2s;
		transition-property: opacity;
	}

	.banner-slider__slide-image
	{
		transition-duration: 2s;
	}

}
