.locations-content
{
	display: none;

	&__inner
	{
		background: $white;
		border-bottom: 3px solid $sunglow;
		display: grid;
		font-size: 11px;
		grid-template-columns: minmax(0, 1fr);
		grid-template-rows: auto 1fr auto;
		line-height: .5*$lh;
		min-height: calc(100vh - 45.5px);
	}

	&__input-wrapper
	{
		align-items: center;
		display: flex;
	}

	&__submit
	{
		margin-left: 10px;
	}

	&__top-inner
	{
		color: $silver;
		display: grid;
		grid-row-gap: .5*$lh;
		line-height: .5*$lh;
		margin: 0 auto;
		max-width: 640px;
		padding: .75*$lh 0;
		text-align: center;
		width: calc(100% - 52px);
	}

	&__logo
	{
		margin: 1*$lh 0;
		text-align: center;
	}

	&__logo-image
	{
		height: 1.5*$lh;
	}

	&__location
	{
		color: $sunglow;
		text-decoration: underline;
		white-space: nowrap;
	}

	&__error
	{
		color: $error;
		display: none;
	}

	&__tips-2
	{
		color: $ebony-clay;

		a
		{
			color: $sunglow;
			text-decoration: underline;
		}
	}

	&__map
	{
		background: $gray;
		min-height: 4*$lh;
	}

	&__bottom
	{
		margin: .75*$lh;
		text-align: center;
	}

	@include m
	{
		&__top-inner
		{
			text-align: left;
		}
	}

	@include xl
	{
		&__logo
		{
			margin: 1.5*$lh 0;
		}

		&__logo-image
		{
			height: 2*$lh;
		}

		&__top-inner
		{
			margin-bottom: 1*$lh;
		}
	}
}
