.menu-float
{
	@include remove-highlight;

	font-family: $ff2;
	left: 0;
	min-width: 280px;
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	transition: transform .3s ease;
	z-index: 9999;

	&.menu-float--open
	{
		transform: translateX(0);
	}

	&__inner
	{
		background: $white;
		min-height: 100vh;
		padding: 1*$lh;
	}

	&__close
	{
		text-align: right;
	}

	.menu-main__link
	{
		display: block;
	}

	.menu-main__link--level-1
	{
		border-bottom: 1px solid $mercury;
		font-size: 14px;
		font-weight: 700;
		padding: .5*$lh 0;
	}

	.menu-main__list--level-2
	{
		display: none;
		padding-left: .75*$lh;
	}

	.menu-main__link--level-2
	{
		border-bottom: 1px solid $mercury;
		color: $gray;
		font-size: 11px;
		font-weight: 700;
		padding: .125*$lh 0;
	}

	.menu-main__list--level-3
	{
		display: none;
	}

	.menu-main__link--level-3
	{
		border-bottom: 1px solid $mercury;
		color: $gray;
		font-size: 11px;
		padding: .125*$lh 0;
	}

	// More

	.menu-main__item .menu-main__more
	{
		display: none;
	}

	.menu-main__item.menu-main__item--has-child
	{
		position: relative;
	}

	.menu-main__item.menu-main__item--has-child .menu-main__more
	{
		align-items: center;
		display: flex;
		height: 1.25*$lh;
		justify-content: center;
		opacity: .3;
		padding: 0 .5*$lh;
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu-main__item.menu-main__item--has-child.menu-main__item--level-1 > .menu-main__more
	{
		height: 2*$lh;
	}

	.menu-main__item--has-child.menu-main__item--open > .menu-main__more
	{
		opacity: 1;
	}

	.menu-main__item--open > .menu-main__more > .menu-main__more-icon
	{
		transform: rotate(180deg);
	}

	@include l
	{
		display: none !important;
	}

}