.testing
{
	background: $white;
	margin: 2*$lh 0;

	&__inner
	{
		display: grid;
		grid-column-gap: 1*$lh;
		grid-row-gap: 1*$lh;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		justify-content: center;
	}

	@include m
	{
		&__inner
		{
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		}
	}
}
