.thank-you
{
	margin: 2*$lh 0;

	&__inner
	{
		display: grid;
		grid-row-gap: 0.75*$lh;
		grid-template-columns: minmax(0, 1fr);
		justify-content: center;
		max-width: 768px;
	}

	&__logo
	{
		display: none;
	}

	&__icon
	{
		height: 4*$lh;
		justify-self: center;
	}

	&__heading
	{
		justify-self: center;
		text-align: center;
	}

	&__description
	{
		font-family: $ff2;
		font-size: 14px;
		font-weight: 300;
		line-height: .75*$lh;
		margin-top: .5*$lh;
		max-width: 480px;
	}

	@include l
	{
		margin: 4*$lh 0;

		&__inner
		{
			grid-row-gap: 2*$lh;
		}

		&__logo
		{
			display: block;
			height: 1.25*$lh;
			justify-self: center;
		}

		&__icon
		{
			height: 6*$lh;
		}

		&__description
		{
			font-size: 24px;
			line-height: 1*$lh;
			margin-top: 1*$lh;
		}
	}
}
