// Line Height
$lh: 26px;

// Colors

$white: #fff;
$ebony-clay: #2d3047;
$sunglow: #ffc43d;
$polar: #daf6f6;


$manatee: #878aa6;
$gray: #828282;
$silver: #bdbdbd;
$mercury: #e6e6e6;
$alabaster: #fcfcfc;
$concrete: #f2f2f2;

$black: #000;
$black-pearl: #061d33;
$puerto-rico: #40c1ac;
$downriver: #082948;
$nobel: #B3B3B3;
$guardsman-red: #ba0411;

$mine-shaft: #212121;
$white: #fff;
$desert-storm: #f6f5f4;
$regal-blue: #004678;
$jade: #00be69;
$plum: #8e388a;
$medium-red-violet: #a032a0;

$spring-green: #17ff83;
$mercury: #e4e4e4;

$success: #005100;
$error: #ff0b00;


// Fonts
$ff1: 'Open Sans', sans-serif;
$ff2: 'Quicksand', sans-serif;
